/nbproject/
/.build/
/.env
/vendor/
/debian/csas-authorize.debhelper.log
/debian/csas-authorize.substvars
/debian/debhelper-build-stamp
/debian/files
/debian/multiflexi-csas-authorize.debhelper.log
/debian/multiflexi-csas-authorize.substvars
/debian/.debhelper/
/debian/csas-authorize/
/debian/multiflexi-csas-authorize/
/.vscode/
/debian/csas-authorize-mysql.debhelper.log
/debian/csas-authorize-mysql.substvars
/debian/csas-authorize-sqlite.debhelper.log
/debian/csas-authorize-sqlite.substvars
/debian/csas-authorize.postrm.debhelper
/debian/csas-authorize-mysql/
/debian/csas-authorize-sqlite/
/debian/csas-authorize-mysql.postrm.debhelper
/debian/csas-authorize-sqlite.postrm.debhelper
.phpunit.cache/test-results
