Source: csas-authorize
Build-Depends: debhelper (>= 7.0.50~), debhelper-compat (= 12), po-debconf,moreutils, jq, composer
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/Spoje-NET/csas-authorize

Package: csas-authorize
Depends: ${misc:Depends}, composer-debian, php-intl,php-vitexsoftware-ease-bootstrap5, php-vitexsoftware-ease-html-widgets (>=1.1.1),php-vitexsoftware-ease-bootstrap5-widgets, php-vitexsoftware-ease-fluentpdo, php-spojenet-csas-accountsapi, php-robmorgan-phinx|php-cakephp-phinx, csas-authorize-sqlite|csas-authorize-mysql
Architecture: all
Section: web
Priority: optional
Description: CSas/Erste Access Token obtainer
 Manage Renew/Access tokens for your Erste/Csas Apps

Package: csas-authorize-sqlite
Multi-Arch: foreign
Depends: ${misc:Depends},dbconfig-sqlite3, php-sqlite3, sqlite3
Conflicts: csas-authorize-mysql
Architecture: all
Description: sqlite support for multiabraflexi setup
 Mandatory dependencies for use CSas Authorize with SQLite database

Package: csas-authorize-mysql
Multi-Arch: foreign
Depends: ${misc:Depends},dbconfig-mysql, php-mysql
Conflicts: csas-authorize-sqlite
Suggests: mariadb-server
Architecture: all
Description: mariadb support for multiabraflexi setup
 Mandatory dependencies for use CSas authorize setup with MySQL/MariaDB databas


Package: multiflexi-csas-authorize
Depends: multiflexi, csas-authorize
Architecture: all
Section: web
Priority: optional
Description: Access Csas/Erste APIs from MultiFlexi
 Into MultiFlexi add Credential type for Erste/Csas
 able to obtain fresh API access token
