[Unit]
Description=Send notification when CSAS access token is about to expire
After=multi-user.target

[Service]
User=csas-authorize
Group=csas-authorize
EnvironmentFile=/etc/csas-authorize/csas-authorize.env
ExecStart=/usr/bin/csas-authorize
LimitNOFILE=8192:16384
Type=simple

[Install]
WantedBy=multi-user.target
