#!/bin/sh

set -e
set -x

. /usr/share/debconf/confmodule

    if grep -q "DB_CONNECTION=mysql" /usr/lib/csas-authorize/.env.template; then
        . /usr/share/dbconfig-common/dpkg/postinst.mysql

		if [ -f /usr/share/dbconfig-common/dpkg/postinst.mysql ]; then
			. /usr/share/dbconfig-common/dpkg/postinst.mysql
			dbc_go csas-authorize "$@"
		fi


    elif grep -q "DB_CONNECTION=sqlite" /usr/lib/csas-authorize/.env.template; then

		if [ -f /usr/share/dbconfig-common/dpkg/config.sqlite3 ]; then
			. /usr/share/dbconfig-common/dpkg/config.sqlite3
			dbc_go csas-authorize "$@"
		fi


    fi
